.row
  .col
    h2.text-success.font-italic Vos produits préférés
.row
  .col-4
    .card style="width: 18rem;"
      = image_tag "favourite_1", class: "card-img-top"
      .card-body
        h5.card-title Fleur avec des cailloux
        p.card-text Superbe compistion parfaite pour les occasions spéciales !
        p.card-text 23€ TTC
        button.btn.btn-info type="button" href="#" 🛍️ Ajouter à mon panier

  .col-4
    .card style="width: 18rem;"
      = image_tag "favourite_2", class: "card-img-top"
      .card-body
        h5.card-title Bonsaï
        p.card-text Tout le monde aime les bonsaïs 😀
        p.card-text 32€ TTC
        button.btn.btn-info type="button" href="#" 🛍️ Ajouter à mon panier

  .col-4
    .card style="width: 18rem;"
      = image_tag "favourite_3", class: "card-img-top"
      .card-body
        h5.card-title Arbustium
        p.card-text Un arbuste qui donne des fruits vraiements spéciaux
        p.card-text 54€ TTC
        button.btn.btn-info type="button" href="#" 🛍️ Ajouter à mon panier
