/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// globals
@import "semantic-ui/globals/all";
// elements
@import "semantic-ui/elements/button";
@import "semantic-ui/elements/container";
@import "semantic-ui/elements/divider";
@import "semantic-ui/elements/header";
@import "semantic-ui/elements/icon";
@import "semantic-ui/elements/image";
@import "semantic-ui/elements/label";
@import "semantic-ui/elements/list";
@import "semantic-ui/elements/segment";
// collections
@import "semantic-ui/collections/form";
@import "semantic-ui/collections/grid";
@import "semantic-ui/collections/menu";
@import "semantic-ui/collections/message";
// views
@import "semantic-ui/views/card";
@import "semantic-ui/views/item";
// modules
@import "semantic-ui/modules/dimmer";
@import "semantic-ui/modules/modal";
@import "semantic-ui/modules/transition";


/* http://colorsafe.co/ */

// $background: #f5efe5;
$background: #f1f1f1;
$title:      #01b288;
$link:       #6b8e23;

body {
  background-color: $background;
}

h1 {
  color: $title;
}

a {
  &:link {
    color: $link;
  }
  &:visited {
    color: $link;
  }
  &:hover {
    // text-decoration: none;
    background-color: $background;
  }
}

// never cut off certain spaces
.nowrap {
  white-space: nowrap;
}

#debug {
  position: fixed;
  bottom: 0px;
  right: 10px;
}
